
<div class="side-panel">
  <div class="side-panel-content">

    <h3 class="side-panel-title">
      IONDV. Framework
    </h3>


    <div class="side-panel-menu">
      <div class="item">
        <a href="<%- module %>/index">Home</a>
      </div>
      <div class="item">
        <a href="<%- module %>/index#page-about">About</a>
      </div>
      <div class="item">
        <a href="<%- module %>/index#page-try">Try</a>
      </div>
      <div class="item">
       <a href="<%- module %>/blog">Blog</a>
      </div>
      <div class="item">
        <a href="<%- module %>/enterprise">Enterprise</a>
      </div>
      <div class="item">  <!--div class="side-menu-item"-->
        <a href="<%- module %>/privacy">Privacy and Terms of Use</a>
      </div>
     </div>

    <div class="side-panel-menu">
      <ul class="nomargin list-inline mobile-block">
        <li><a href="https://www.facebook.com/iondv"><i class="fab fa-facebook-square"></i></a> </li>
        <li><a href="https://www.linkedin.com/company/iondv/"><i class="fab fa-linkedin"></i></a> </li>
        <li><a href="https://vk.com/iondv"><i class="fab fa-vk"></i></a> </li>
        <li><a href="https://www.instagram.com/iondv/"><i class="fab fa-instagram"></i></a> </li>
        <li><a href="https://twitter.com/ion_dv"><i class="fab fa-twitter-square"></i></a> </li>
        <li><a href="https://t.me/iondv"><i class="fab fa-telegram"></i></a> </li>
        <!--li><a href="https://www.youtube.com/iondv"><i class="fab fa-youtube-square"></i></a> </li-->
        <li><a href="https://cloud.docker.com/u/iondv/"><i class="fab fa-docker"></i></a> </li>
        <li><a href="https://github.com/iondv/"><i class="fab fa-github-square"></i></a> </li>
        <li><a href="https://stackoverflow.com/questions/tagged/iondv"><i class="fab fa-stack-overflow"></i></a> </li>
      </ul>

    </div>

    <!--div class="side-panel-menu">
      <div class="item">
        <a href="#" data-scroll-to="#page-4">About</a>
      </div>
      <div class="item">
        <a href="#" data-scroll-to="#page-3">Customer success</a>
      </div>
      <div class="item">
        <a href="#" data-scroll-to="#page-2">Store</a>
      </div>
      <div class="item">
        <a href="#" data-scroll-to="#page-1">Community</a>
      </div>
      <div class="item">
        <a href="#" data-scroll-to="#page-3">Help</a>
      </div>
      <div class="item">
        <a href="#" data-scroll-to="#page-2">Services</a>
      </div>
      <div class="side-menu-item">
        <a href="#" data-scroll-to="#page-1">Blog</a>
      </div>
    </div-->
  </div>
  <div class="side-panel-footer">
    <div class="copyright">Copyright © 2013-2019 ION DV LLC</div>
  </div>
  <div class="side-panel-close side-panel-toggle">
    <span class="icon"></span>
  </div>
</div>

<div class="side-panel-open side-panel-toggle">
  <span class="fa fa-navicon"></span>
</div>