<%
let mod = `${module}/${portal}/`;
%>
<% layout('../layouts/main') -%>

<div class="base dark">

  <div class="nav">
    <%- partial('../parts/logo') %>
    <%- partial('../parts/top-menu') %>
  </div>

  <div class="side-panel-open side-panel-toggle">
    <span class="icon"></span>
  </div>

  <div class="page page-privacy">
    <div class="page-content">
      <div class="container">
        <h1 class="page-title text-black mb30">
            IONDV. Framework Enterprise Support
        </h1>
        <h2>
          <a id="user-content-1-introduction" class="anchor" href="#1-introduction" aria-hidden="true"></a>
          What for?</h2>
        <p>Accelerate your development, optimize your workflow and speed up your project realisation with IONDV. Framework Enterprise Support.
        </p>
        <div class="page-article">
          <h2 id="support">
            <a id="user-content-11-purpose-of-this-privacy-notice" class="anchor" href="#11-purpose-of-this-privacy-notice" aria-hidden="true"></a>
            Technical Support Services 
          </h2>
          <p>
            IONDV Enterprise support provides a range of expert services and quality tools,
            including the technical support that guarantees you access to the professionals who developed IONDV. Framework and
            who continue developing applications on its basis.
          </p>
          <h3>
            Critical Support
          </h3>
          <p>
            Get the attention you need at the speed you expect for whatever issues arise. Critical IONDV. Framework Support for 24 hours includes:
            the private chat and remote assistance availability, the priority review of the open issues,
            the fast response by our Team in a maximum time of 4 working hours.<br>

            Critical Support is limited to a maximum of 10 issues per 24 hours.
          </p>
          <h3>
            Bug Escalation
          </h3>
          <p>
            Bugs or software faults due to our code discovered in IONDV. Framework Enterprise
            are considered as priority cases compared to other bugs.
          </p>
          <h3>
            Long-Term Support
          </h3>
          <p>
            This support includes updates, hotfixes, quick protection and direct assistance from our engineers under a long-term contract.
            You can choose what benefits you will get with the IONDV. Framework Enterprise Support:
             <ul>
                <li>Regular communications to lead, discuss, and review open issues or other activities</li>
                <li>Reporting and metrics</li>
                <li>Advocate for future feature updates</li>
                <li>Priority access to previous releases</li>
                <li>Training and consulting in creating projects</li>
                <li>Guidance and further development </li>
                <li>Access to relevant IONDV. Framework senior technical and engineering resources</li>
            </ul>
           </p>
           <p>
            The Long-Term Support can include Critical Support, Bug Escalation and Further development as a part of a long-term IONDV Enterprise support contract.
            Periodically, your Team will receive updates email notifications and official advisories.<br>
          </p>    
          <p>
            <strong>Length of Service</strong> - 10 Hours / Week for 6, 12  or 24 Months<br>
            Can be stacked to 20, 30, or 40 Hours / Week
          </p>

          </p>
          <h2 id="development">
            Custom Development Services
          </h2>
          <h3>
            Further development
          </h3>
          <p>
            We offer you the system development for your specific tasks,
            deploying solutions in our cloud and deploying the infrastructure for creating and building your web application.
          </p>
          <p>
            <ul>
              <li>Application development</li>
              <li>Development and modification of applications on the IONDV. Framework basis</li>
              <li>Development of functional modules</li>
              <li>Upgrade of functional modules</li>
              <li>Reengineering of existing applications (including legacy) and transferring them on the IONDV. Framework basis</li>
              <li>Data conversion and creation of accounting applications from excel / access / foxpro</li>
          </ul>
          </p>

          <h2 id="pricing">Pricing
          </h2>

          <p>Collect your Service Package by adding or removing any item.</p>
          <!-- TODO НУЖНЫ СУММЫ -->
          <p>
              <h3>
                  Technical Support Services 
                </h3>
            <ul>
              <li>Training and consulting - $$</li>
              <li>Remote system intervention - $$</li>
              <li>Systems engineering support - $$</li>
          </ul>
          <h3>
              Custom Development Services
            </h3>
            <ul>
                <li>The development average cost is $ 50 per hour. 
                    We also offer "time and materials" model or product development according to your special technical requirements.</li>
                
            </ul>
          </p>
          <p>
            <script>String.prototype.ionprn =
                function (_hamper,_prefix,_postfix,_face)
                {_hamper=_prefix+
                  "@"+ this +
                  (_postfix || '')
                  document.write((_face||_hamper).link("mailto:"+_hamper));
                }</script>
          <noscript>inf</noscript><script>"ion".ionprn('blank', 'info', 'dv.com', 'Contact Us...');</script><noscript>fo<!--blablabla--><span>&#64;</span>iondv.com</noscript>

          </p>
        </div>
      </div>
    </div>
  </div>

  <%- partial('../parts/footer') %>

</div>

<%- partial('../parts/side-panel') %>
<%- partial('../parts/getting-started') %>
<%- partial('../parts/cookie-notify') %>
