<%
let mod = `${module}/${portal}/`;
let header = item.get('header');
let cover = item.get('cover');
let coverText = item.get('coverText');
let relatedPosts = item.get('relatedPosts');

query.headContent = partial('../parts/blog/head');
%>

<% layout('../layouts/main') -%>

<div class="base">
  <div class="nav">
    <%- partial('../parts/logo') %>
    <%- partial('../parts/top-menu') %>
  </div>

  <div class="page-article page">
    <div class="page-section">
      <div class="container">

        <div class="article">
          <h1>
            <%- header %>
          </h1>

          <div class="article-date">
            <%- moment(item.get('datePublish')).format('MMM DD YYYY') %>
          </div>

          <div class="article-intro">
            <%- item.get('subHeader') %>
          </div>

          <% if (cover) { %>
          <div class="article-image">
            <img src="<%- cover.link %>" alt="<%= coverText %>">
          </div>
          <% } %>

          <div class="article-content">
            <%- item.get('description') %>
          </div>

          <div class="article-footer">
            <div class="row">
              <div class="col-sm-6">
                <%- partial('../parts/blog/share', {item}) %>
              </div>

              <div class="col-sm-6">
              </div>
            </div>

            <hr>

            <% if (relatedPosts.length) { %>
            <div class="related-article">
              <h2>Related posts</h2>
              <div class="related-article-list">
                <div class="row">
                  <% for (let item of relatedPosts) { %>
                  <%- partial('../parts/blog/related-post', {item}) %>
                  <% } %>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>

      </div>
    </div>

  </div>

  <%- partial('../parts/footer') %>

</div>

<%- partial('../parts/side-panel') %>
<%- partial('../parts/getting-started') %>
<%- partial('../parts/cookie-notify') %>