<%
let mod = `${module}/${portal}/`;
%>
<% layout('../layouts/main') -%>

<div class="base dark">

  <div class="nav">
    <%- partial('../parts/logo') %>
    <%- partial('../parts/top-menu') %>
  </div>

  <div class="page page-privacy">
    <div class="page-content">
      <div class="container">
        <h1 class="page-title mb30">
          ION DV Privacy Policy
        </h1>
        <div class="page-article">
          <h2>
            <a id="user-content-1-introduction" class="anchor" href="#1-introduction" aria-hidden="true"></a>
            1. Introduction</h2>
          <p>Welcome to LLC ION DV's privacy notice.</p>
          <p>LLC ION DV respects your privacy and is committed to protecting your personal data.
            This privacy notice will inform you as to how we look after your personal data when you visit our website
            (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you.</p>
          <h3>
            <a id="user-content-11-purpose-of-this-privacy-notice" class="anchor" href="#11-purpose-of-this-privacy-notice" aria-hidden="true"></a>
            1.1 Purpose of this privacy notice</h3>
          <p>
            Your privacy is important to us. This privacy statement explains the personal data
            LLC "ION DV" processes, how LLC "ION DV" processes it, and for what purposes.</p>
          <h3>
            <a id="user-content-12-privacy-policy-changes" class="anchor" href="#12-privacy-policy-changes" aria-hidden="true"></a>
            1.2 Privacy Policy Changes</h3>
          <p>ION DV may revise this Privacy Policy in its sole discretion. If any such changes are made, ION DV will
            endeavor to notify you of any such changes or you can easily access the last update in the "What's new"
            section, which contains the Change History for ION DV Statement.</p>
          <p>If you disagree with any such modifications, then you can stop using them.</p>
          <h3>
            <a id="user-content-13-controller" class="anchor" href="#13-controller" aria-hidden="true"></a>1.3 Controller</h3>
          <p>LLC "ION DV" is the controller and responsible for your personal data (collectively referred to as "ION DV",
            "we", "us" or "our" in this privacy notice).</p>
          <p>We have appointed a data privacy manager who is responsible for overseeing questions in relation to this
            privacy notice. If you have any questions about this privacy notice, including any requests to exercise
            your legal rights, please contact us.</p>
          <p>The operator complies with the requirements of the Agreement on the exchange of confidential information
            between the EU and the United States (specified by the US Department of Commerce) regarding the collection,
            use and storage of personal information transmitted from the European Union to the United States. For more
            information, visit the
            <a href="https://www.privacyshield.gov/welcome" rel="nofollow noreferrer noopener" target="_blank">website</a>
            for the Privacy Shield Agreement, US Department of Commerce.</p>
          <h2>
            <a id="user-content-2-personal-data-we-collect" class="anchor" href="#2-personal-data-we-collect" aria-hidden="true"></a>
            2. Personal Data We Collect</h2>
          <p>We use different methods to collect data from and about you.</p>
          <p>You may give us your Identity, Contact and Financial Data by filling in forms or by corresponding with us by
            post, phone, email or otherwise. This includes personal data you provide when you:</p>
          <ul>
            <li>register on website;</li>
            <li>order our services;</li>
            <li>request marketing to be sent to you;</li>
            <li>enter a competition, promotion or survey; or</li>
            <li>give us some feedback.</li>
          </ul>
          <p>As you interact with our website, we may automatically collect Technical Data about your equipment, browsing
            actions and patterns. We collect this personal data by using cookies, server logs and other similar technologies.
            We may also receive Technical Data about you if you visit other websites employing our cookies. Please see our
            <a href="<%- module %>/cookie-agreement"><strong>cookie policy</strong></a> for further details.</p>
          <p>Third parties or publicly available sources also may be used to receive personal, mainly technical data about you:</p>
          <ul>
            <li>analytics providers such as Google and Yandex based outside the EU and USA;</li>
            <li>advertising networks such as Twitter, Facebook and Google and similar networks based outside the EU and USA.</li>
          </ul>
          <h2>
            <a id="user-content-3-how-we-use-your-data" class="anchor" href="#3-how-we-use-your-data" aria-hidden="true"></a>
            3. How We Use Your Data</h2>
          <p>We will only use your personal data when the law allows us to. Most commonly, we will use your personal
            data in the following circumstances:</p>
          <ul>
            <li>
              <p>where we need to perform the contract we are about to enter into or have entered into with you;</p>
            </li>
            <li>
              <p>where it is necessary for our legitimate interests (or those of a third party) and your interests and
                fundamental rights do not override those interests. Legitimate interest means the interest of our business in conducting and managing our business to enable us to give you the best service/product and the best and most secure experience. We make sure we consider and balance any potential impact on you (both positive and negative) and your rights before we process your personal data for our legitimate interests. We do not use your personal data for activities where our interests are overridden by the impact on you (unless we have your consent or are otherwise required or permitted to by law);</p>
            </li>
            <li>
              <p>where we need to comply with a legal or regulatory obligation.</p>
            </li>
          </ul>
          <h3>
            <a id="user-content-31-why-we-use-your-data" class="anchor" href="#31-why-we-use-your-data" aria-hidden="true"></a>
            3.1 Why We Use Your Data</h3>
          <p>We have set out a description of all purposes we can use your personal data. Please contact us if you need
            details about the specific legal ground we are relying on to process your personal data.</p>
          <p>The purposes of using the personal data:</p>
          <ul>
            <li>to access and use of websites or other online services;</li>
            <li>to respond to your request for information, order, or support;</li>
            <li>to notify you about changes to our terms or privacy policy or to ask you to leave a review, to take a survey or to partake in a competition;</li>
            <li>to administer and protect our business and this website</li>
            <li>to use data analytics to improve our website, estimate our audience size and usage pattern</li>
            <li>to make suggestions and recommendations to you about goods or services that may be of your interest</li>
          </ul>
          <h3>
            <a id="user-content-32-data-security" class="anchor" href="#32-data-security" aria-hidden="true"></a>
            3.2 Data Security</h3>
          <p>We have put in place appropriate security measures to prevent your personal data from being accidentally lost,
            used or accessed in an unauthorised way, altered or disclosed. In addition, we limit access to your personal
            data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions and they are subject to a duty of confidentiality.</p>
          <p>We have put in place procedures to deal with any suspected personal data breach and will notify you and any
            applicable regulator of a breach where we are legally required to do so.</p>
          <h2>
            <a id="user-content-4-how-we-share-information" class="anchor" href="#4-how-we-share-information" aria-hidden="true"></a>
            4. How We Share Information</h2>
          <p>We share your personal data with your consent or to complete any transaction or provide any product you have
            requested or authorized.</p>
          <p>Where appropriate, ION DV may also share your personal information with selected partners to help us provide
            you, or the company you work for, products or services, or to fulfill your requests, or with your consent.
            When selecting our suppliers and partners, we take into account their data handling processes.</p>
          <h3>
            <a id="user-content-41-legal-disclosures" class="anchor" href="#41-legal-disclosures" aria-hidden="true"></a>
            4.1 Legal Disclosures</h3>
          <p>It is possible that we will need to disclose information about you when required by law, subpoena, or other
            legal process or if we have a good faith belief that disclosure is reasonably necessary to (1) investigate,
            prevent, or take action regarding suspected or actual illegal activities or to assist government enforcement
            agencies; (2) enforce our agreements with you, (3) investigate and defend ourselves against any third-party
            claims or allegations, (4) protect the security or integrity of our Service (such as by sharing with companies
            facing similar threats). We attempt to notify Members about legal demands for their personal data when appropriate
            in our judgment, unless prohibited by law or court order or when the request is an emergency.</p>
          <h2>
            <a id="user-content-5-cookie-policy" class="anchor" href="#5-cookie-policy" aria-hidden="true"></a>
            5. Cookie Policy</h2>
          <p>Does We use cookies?</p>
          <p>Yes. As described in Section 1 of our Privacy Policy, we use cookies and other technologies.
            By continuing to visit or use our services, you are agreeing to the use of cookies and similar technologies
            for the purposes we describe in this policy.</p>
          <p><a href="<%- module %>/cookie-agreement">Learn more...</a></p>
          <h2>
            <a id="user-content-6your-legal-rights" class="anchor" href="#6your-legal-rights" aria-hidden="true"></a>
            6.Your legal rights</h2>
          <p>Under certain circumstances, you have rights under data protection laws in relation to your personal data.
            You have the right to:</p>
          <ul>
            <li>Request access to your personal data (commonly known as a "data subject access request"). This enables
              you to receive a copy of the personal data we hold about you and to check that we are lawfully processing it.</li>
            <li>Request correction of the personal data that we hold about you. This enables you to have any incomplete
              or inaccurate data we hold about you corrected, though we may need to verify the accuracy of the new data
              you provide to us.</li>
            <li>Request erasure of your personal data. This enables you to ask us to delete or remove personal data where
              there is no good reason for us continuing to process it. You also have the right to ask us to delete or
              remove your personal data where you have successfully exercised your right to object to processing (see below),
              where we may have processed your information unlawfully or where we are required to erase your personal data
              to comply with local law. Note, however, that we may not always be able to comply with your request of erasure
              for specific legal reasons which will be notified to you, if applicable, at the time of your request.</li>
            <li>Object to processing of your personal data where we are relying on a legitimate interest (or those of a
              third party) and there is something about your particular situation which makes you want to object to
              processing on this ground as you feel it impacts on your fundamental rights and freedoms. You also have the
              right to object where we are processing your personal data for direct marketing purposes. In some cases, we
              may demonstrate that we have compelling legitimate grounds to process your information which override your
              rights and freedoms.</li>
            <li>Request restriction of processing of your personal data. This enables you to ask us to suspend the processing
              of your personal data in the following scenarios: (a) if you want us to establish the data's accuracy; (b)
              where our use of the data is unlawful but you do not want us to erase it; (c) where you need us to hold the
              data even if we no longer require it as you need it to establish, exercise or defend legal claims; or (d)
              you have objected to our use of your data but we need to verify whether we have overriding legitimate grounds
              to use it.</li>
            <li>Request the transfer of your personal data to you or to a third party. We will provide to you, or a third
              party you have chosen, your personal data in a structured, commonly used, machine-readable format. Note that
              this right only applies to automated information which you initially provided consent for us to use or where
              we used the information to perform a contract with you.</li>
            <li>Withdraw consent at any time where we are relying on consent to process your personal data. However, this
              will not affect the lawfulness of any processing carried out before you withdraw your consent. If you
              withdraw your consent, we may not be able to provide certain products or services to you. We will advise
              you if this is the case at the time you withdraw your consent.</li>
          </ul>
          <h2>
            <a id="user-content-7-other-important-privacy-information" class="anchor" href="#7-other-important-privacy-information" aria-hidden="true"></a>
            7. Other important privacy information</h2>
          <h3>
            <a id="user-content-71-product-specific-details" class="anchor" href="#71-product-specific-details" aria-hidden="true"></a>
            7.1 Product-specific details</h3>
          <p>Enterprise and Developer Products are ION DV products and related software offered to and designed primarily
            for use by organizations and developers. They include:</p>
          <ul>
            <li>IONDV.CRM</li>
            <li>IONDV.Project Management System</li>
            <li>IONDV.Framework
              If any of the terms below are not defined in this Privacy Statement, they have the definitions below.</li>
          </ul>
          <p><strong>General</strong>. When a customer tries, purchases, uses, or subscribes to Enterprise and Developer
            Products, or obtains support for or professional services with such products, ION DV collects data to provide the service (including uses compatible with providing the service), provide the best experiences with our products, operate our business, and communicate with the customer. For example:</p>
          <ul>
            <li>When a customer engages with a ION DV sales representative, we collect the customer’s name and contact
              data, along with information about the customer’s organization, to support that engagement.</li>
            <li>When a customer interacts with a ION DV support professional, we collect device and usage data or error
              reports to diagnose and resolve problems.</li>
            <li>When a customer pays for products, we collect contact and payment data to process the payment.</li>
            <li>When ION DV sends communications to a customer, we use data to personalize the content of the communication.</li>
            <li>When a customer engages with ION DV for professional services, we collect the name and contact data of
              the customer’s designated point of contact and use information provided by the customer to perform the
              services that the customer has requested.</li>
            <li>The Enterprise and Developer Products enable you to purchase, subscribe to, or use other products and
              online services from ION DV or third parties with different privacy practices, and those other products and
              online services are governed by their respective privacy statements and policies.</li>
          </ul>


        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="container">
        <h1 class="page-title mb30">
          Terms of use
        </h1>
        <div class="page-article">
            <p>Welcome to our website. ION DV LLC maintains this website as a service to our visitors and customers. By
              using our site, you are agreeing to comply with and be bound by the following terms of use. Please review the following terms carefully. If you do not agree to these terms, you should not review information or obtain goods or products from this site.</p>
            <p><strong>The Website is available only to individuals who are at least 16 years old.</strong></p>
            <h2>
              <a id="user-content-trademarks" class="anchor" href="#trademarks" aria-hidden="true"></a>Trademarks</h2>
            <p>IONDV. Framework logo and name are trademarks of ION DV LLC. All other trademarks are property of their
              respective owners.</p>
            <h2>
              <a id="user-content-iondvframework-software" class="anchor" href="#iondvframework-software" aria-hidden="true"></a>
              IONDV.Framework software</h2>
            <p>IONDV.Framework is distributed on the terms of the Apache 2.0 license. We use the third party libraries
              which are distributed on the terms of their licences.</p>
            <h2>
              <a id="user-content-acceptance-of-agreement" class="anchor" href="#acceptance-of-agreement" aria-hidden="true"></a>
              Acceptance of Agreement.</h2>
            <p>You agree to the terms and conditions outlined in this Terms of Use Agreement (“Agreement”) with respect
              to our site (the “Site”). This Agreement constitutes the entire and only agreement between us and you, and
              supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the content, products or services provided by or through the Site, and the subject matter of this Agreement. This Agreement may be amended at any time by us from time to time without specific notice to you. The latest Agreement will be posted on the Site, and you should review this Agreement prior to using the Site.</p>
            <h2>
              <a id="user-content-copyright" class="anchor" href="#copyright" aria-hidden="true"></a>Copyright.</h2>
            <p>The content, organization, graphics, design, audio, animation, video, compilation, magnetic translation,
              digital conversion and other matters related to the site are protected under applicable copyrights, trademarks
              and other proprietary (including but not limited to intellectual property) rights. The copying, redistribution,
              use or publication by you of any such matters or any part of the site, except as allowed by Section 3, is
              strictly prohibited. You do not acquire ownership rights to any content, document or other materials viewed
              through the Site. The posting of information or materials on the Site does not constitute a waiver of any
              right in such information and materials.</p>
            <h2>
              <a id="user-content-limited-right-to-use" class="anchor" href="#limited-right-to-use" aria-hidden="true"></a>
              Limited Right to Use.</h2>
            <p>Unless otherwise specified, the viewing, printing or downloading of any content, graphic, form or document
              from the site grants you only a limited, nonexclusive license for use solely by you for your own personal
              use and not for republication, distribution, assignment, sublicense, sale, preparation of derivative works
              or other use. No part of any content, form or document may be reproduced in any form or incorporated into
              any information retrieval system, electronic or mechanical, other than for your personal use (but not for
              resale or redistribution).</p>
            <h2>
              <a id="user-content-editing-deleting-and-modification" class="anchor" href="#editing-deleting-and-modification" aria-hidden="true"></a>
              Editing, Deleting and Modification.</h2>
            <p>We reserve the right in our sole discretion to edit or delete any documents, information or other content
              appearing on this web site at any time.</p>
            <h2>
              <a id="user-content-nontransferable" class="anchor" href="#nontransferable" aria-hidden="true"></a>
              Nontransferable.</h2>
            <p>Your right to use the Site is not transferable. Any password or right given to you to obtain information
              or documents is not transferable.</p>
            <h2>
              <a id="user-content-disclaimer-and-limits" class="anchor" href="#disclaimer-and-limits" aria-hidden="true"></a>
              Disclaimer and Limits.</h2>
            <p>THE INFORMATION FROM OR THROUGH THE SITE ARE PROVIDED “AS-IS” AND ALL WARRANTIES, EXPRESS OR IMPLIED, ARE
              DISCLAIMED (INCLUDING BUT NOT LIMITED TO THE DISCLAIMER OF ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND
              FITNESS FOR A PARTICULAR PURPOSE). THE INFORMATION AND SERVICES MAY CONTAIN BUGS, ERRORS, PROBLEMS OR
              OTHER LIMITATIONS. WE AND OUR AFFILIATED PARTIES HAVE NO LIABILITY WHATSOEVER FOR YOUR USE OF ANY INFORMATION
              OR SERVICE. IN PARTICULAR, BUT NOT AS A LIMITATION THEREOF, WE AND OUR AFFILIATED PARTIES ARE NOT LIABLE
              FOR ANY INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS,
              LOSS OF PROFITS, LITIGATION, OR THE LIKE), WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT
              (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
              THE NEGATION OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN US AND
              YOU. THIS SITE AND THE INFORMATION WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS.</p>
            <p>ALL RESPONSIBILITY OR LIABILITY FOR ANY DAMAGES CAUSED BY VIRUSES CONTAINED WITHIN THE ELECTRONIC FILE
              CONTAINING THE FORM OR DOCUMENT IS DISCLAIMED. WE WILL NOT BE LIABLE TO YOU FOR ANY INCIDENTAL, SPECIAL OR
              CONSEQUENTIAL DAMAGES OF ANY KIND THAT MAY RESULT FROM USE OF OR INABILITY TO USE OUR SITE. OUR MAXIMUM
              LIABILITY TO YOU UNDER ALL CIRCUMSTANCES WILL BE EQUAL TO THE PURCHASE PRICE YOU PAY FOR ANY GOODS, SERVICES
              OR INFORMATION.</p>
            <h2>
              <a id="user-content-use-of-information" class="anchor" href="#use-of-information" aria-hidden="true"></a>
              Use of Information.</h2>
            <p>We reserve the right, and you authorize us, to the use and assignment of all information regarding Site
              uses by you and all information provided by you in any manner consistent with our Privacy Policy.</p>
            <h2>
              <a id="user-content-privacy-policy" class="anchor" href="#privacy-policy" aria-hidden="true"></a>Privacy Policy.</h2>
            <p>Our Privacy policy, as it may change from time to time, is a part of this Agreement and can be found by this link.</p>
        </div>
      </div>
    </div>
  </div>

  <%- partial('../parts/footer') %>

</div>

<%- partial('../parts/side-panel') %>
<%- partial('../parts/getting-started') %>
<%- partial('../parts/cookie-notify') %>